body {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: helvetica, arial, sans-serif;
}
header {
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
	flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
  header h1 {
    margin: 0;
    font-family: DejaVu Serif Bold;
    font-size: 2.2em;
    margin: 0.2em 0 0.2em 1.5em;
  }
  header nav {
    margin: 0.3em 3em 0 0;
  }
  header ul,
  header li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    margin: auto;
  }
  li {
   display: inline-block
  }
  a {
    color: #333;
    text-decoration: none;
    margin-right: 1em;
  }
main {
  margin: 0;
  padding: 2em 3em;
  background-color: #202021;
  color: #fff;
  display: flex;
	flex-wrap: nowrap;
  flex-direction: row;
}
  article {
    width: 65%
  }
   h2 {
    margin: 0 3em 0.5em 0;
    font-size: 4em;
    font-weight: normal;
    line-height: 0.8em;
   }
   p {
     font-size: 1.2em;
     padding: 0 4em 0 0;
   }
  form {
    width: 35%;
  }
   fieldset {
     border: 0;
   }
   label {
     display: none;
   }
   input {
     box-sizing: border-box;
     padding: 0.8em 0.8em;
     font-size: 1.2em;
     margin: 0.2em 0;
     width: 17em;
     border: 0;
     border-radius: 0.3em;
     transition: box-shadow 0.5s;
   }
   input[type=submit] {
    color: #fff;
    background-color: #60B044;
    background-image: linear-gradient(#8ADD6D, #60B044);
    font-weight: bold;
    text-shadow: #409024 0.2em 0.2em 0.2em;
   }
   input:focus {
     box-shadow: #ccc 0 0 0.8em;
   }
footer {
  margin: 0;
  background-color: #fff;
  color: #4183C4;
  padding: 1em 0 0 3em;
  font-size: 0.9em;
}
  .copyright {
    color: #333;
  }