body {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: helvetica, arial, sans-serif;
}
header {
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
	flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
  header h1 {
    margin: 0;
  }
  header ul,
  header li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    margin: auto;
  }
  li {
   display: inline-block
  }
main {
  margin: 0;
  padding: 2em 3em;
  background-color: #202021;
  color: #fff;
  display: flex;
	flex-wrap: nowrap;
  flex-direction: row;
}
  article {
    width: 65%
  }
   h2 {
    margin: 0 3em 0.5em 0;
    font-size: 4em;
    font-weight: normal;
    line-height: 0.8em;
   }
   p {
     font-size: 1.2em;
     padding: 0 4em 0 0;
   }
  form {
    width: 35%;
  }
   fieldset {
     border: 0;
   }
   label {
     display: none;
   }
footer {
  margin: 0;
  background-color: #fff;
  color: #333;
}